* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Lora', serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    padding-left: 2.5%;
}

p {
    line-height: 1.5;
}
header{
    display: grid;
    grid-template-columns: repeat(2, 60%);
    padding-top: 0.5%;
}
#Search{
    padding-top: 2%;
}

#information{
    display: grid;
    grid-template-columns: repeat(2,60%);
    grid-gap: 2%;
    margin-top: 10%;
}
.info{
    border: black solid 1px;
}

#new{
    margin-top: 10%;
    margin-left: 1.5%;
}

.myNewDiv{
    display: none;
    font-size: 200%;
}
.lyrics{
    font-size: 80%;
}